@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --radius: 12px; }

body { font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans"; }
h1, h2, h3 { font-family: var(--font-lora), ui-serif, Georgia, "Times New Roman", serif; }
